.header-news {
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	border-bottom: 1px dashed #fff;
	color: #fff;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-right: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.header-news__icon {
	background-image: url('../../img/icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 15px;
	margin-right: 15px;
	height: 15px;
	margin-bottom: 2px;
}

.header-news__time {
	color: #fff;
	margin-left: 40px;
}